option_settings:
  - namespace: aws:elasticbeanstalk:application
    option_name: ApplicationHealthcheckURL
    value: /actuator/health
  - namespace: aws:elasticbeanstalk:healthcheck
    option_name: HealthyThreshold
    value: 2
  - namespace: aws:elasticbeanstalk:healthcheck
    option_name: UnhealthyThreshold
    value: 5
  - namespace: aws:elasticbeanstalk:healthcheck
    option_name: Timeout
    value: 10
  - namespace: aws:elasticbeanstalk:healthcheck
    option_name: Interval
    value: 30