@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.dark {
  background-color: black; /* Exemple de couleur de fond sombre */
  color: white; /* Exemple de couleur de texte clair */
}

.light {
  background-color: white; /* Exemple de couleur de fond clair */
  color: black; /* Exemple de couleur de texte sombre */
}

/* Styles pour le thème sombre */
.dark input,
.dark textarea {
  background-color: #374151; /* Couleur de fond sombre pour les champs de formulaire */
  color: white; /* Couleur de texte clair pour les champs de formulaire */
  border: 1px solid #4b5563; /* Bordure légèrement plus claire */
}

/* Styles pour le thème clair */
.light input,
.light textarea {
  background-color: white; /* Couleur de fond clair pour les champs de formulaire */
  color: black; /* Couleur de texte sombre pour les champs de formulaire */
  border: 1px solid #d1d5db; /* Bordure légèrement plus sombre */
}

/* Styles supplémentaires pour les champs de formulaire */
input,
textarea {
  padding: 0.5rem; /* Espacement intérieur pour les champs de formulaire */
  border-radius: 0.25rem; /* Bordures arrondies pour les champs de formulaire */
  transition: border-color 0.2s ease-in-out; /* Transition douce pour la bordure */
}

/* Styles pour le focus des champs de formulaire */
input:focus,
textarea:focus {
  outline: none; /* Supprime la bordure de focus par défaut */
  border-color: #6366f1; /* Couleur de bordure de focus personnalisée */
  box-shadow: 0 0 0 2px rgba(99, 102, 241, 0.2); /* Ombre de focus personnalisée */
}

.loading-spiraleclispe-container {
  position: relative;
  width: 150px;
  height: 150px;
  margin: auto;
}
.loading-spiraleclispe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: transparent;
  border: 3px solid #3c3c3c;
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
  font-family: sans-serif;
  font-size: 20px;
  color: #fff000;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-shadow: 0 0 10px #fff000;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.loading-spiraleclispe:before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 3px solid #fff000;
  border-right: 3px solid #fff000;
  border-radius: 50%;
  animation: animateC 2s linear infinite;
}
.loading-spiraleclispe span {
  display: block;
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  width: 50%;
  height: 4px;
  background: transparent;
  transform-origin: left;
  animation: animate 2s linear infinite;
}
.loading-spiraleclispe span:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff000;
  top: -6px;
  right: -8px;
  box-shadow: 0 0 20px #fff000;
}
@keyframes animateC {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}

.sliced-wrapper {
  display: grid;
  place-content: center;
  background-color: black;
  font-family: "Oswald", sans-serif;
  font-size: clamp(1.5rem, 1rem + 18vw, 7rem);
  font-weight: 12;
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
  box-sizing: border-box;
  margin-top: 10px;
}
.sliced-wrapper > div {
  grid-area: 1/1/-1/-1;
  box-sizing: border-box;
}
.sliced-top {
  clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 58%);
}
.sliced-bottom {
  clip-path: polygon(0% 60%, 100% 50%, 100% 100%, 0% 100%);
  color: transparent;
  background: -webkit-linear-gradient(177deg, black 53%, hsl(0, 0%, 100%) 65%);
  background: linear-gradient(177deg, black 53%, hsl(0, 0%, 100%) 65%);
  background-clip: text;
  -webkit-background-clip: text;
  transform: translateX(-0.02em);
}

@font-face {
  font-family: "Rocher";
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}
@font-palette-values --Grays {
  font-family: Rocher;
  base-palette: 9;
}
@font-palette-values --Purples {
  font-family: Rocher;
  base-palette: 6;
}
@font-palette-values --Mint {
  font-family: Rocher;
  base-palette: 7;
}
.grays {
  font-family: "Rocher", serif;
  font-palette: --Grays;
}
.purples {
  font-family: "Rocher", serif;
  font-palette: --Purples;
}
.mint {
  font-family: "Rocher", serif;
  font-palette: --Mint;
}

.table-head {
  font-family: "Rocher", serif;
  font-size: 1.2em;
  margin: -0.6em 0 0;
  color: white;
  text-shadow:
    0 0 0.05em #fff,
    0 0 0.2em #05e1fe,
    0 0 0.3em #05d9fe;
}
.character-name {
  padding: 10px;
  font-family: "Rocher", serif;
  text-align: left;
  font-size: 40px;
  align-items: center;
  justify-content: center;
}
.character-context {
  font-family: "Rocher", serif;
  font-size: 22px;
  padding: 10px;
}
.character-description {
  font-family: "Rocher", serif;
  font-size: 14px;
  font-style: italic;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 10px;
  max-height: 120px;
}

.button-aura {
  padding: 0.5em 0.4em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-aura:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-aura 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
@keyframes glowing-button-aura {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.button-aura:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.menuButton {
  margin: 10px;
}

.button-red {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5em;
  position: relative;
  border-radius: 50px;
  padding: 16px 16px;
  background-color: #faf0f0;
  box-shadow:
    inset 0 -4px 8px #d88787,
    0 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  color: #e30404;
  transition: transform 0.4s cubic-bezier(0.55, 1, 0.15, 1);
  will-change: transform;
  &:active {
    transform: scale(0.92);

    &::after {
      opacity: 1;
    }
  }
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    border-image-slice: 50%;
    border-image-width: 40px;
    border-style: solid;
    transform: scale(1.04, 1.08);
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.55, 1, 0.15, 1);
    will-change: transform;
  }
  &:focus-visible::after {
    opacity: 1;
    animation: pulsate 1s infinite;
  }
}

.button {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5em;
  position: relative;
  border-radius: 50px;
  padding: 16px 16px;
  background-color: #f0f7fa;
  box-shadow:
    inset 0 -4px 8px #87bfd8,
    0 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  color: #0470e3;
  transition: transform 0.4s cubic-bezier(0.55, 1, 0.15, 1);
  will-change: transform;
  &:active {
    transform: scale(0.92);

    &::after {
      opacity: 1;
    }
  }
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    border-image-source: url("https://assets.codepen.io/4175254/mario-button-borders.png");
    border-image-slice: 50%;
    border-image-width: 40px;
    border-style: solid;
    transform: scale(1.04, 1.08);
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.55, 1, 0.15, 1);
    will-change: transform;
  }
  &:focus-visible::after {
    opacity: 1;
    animation: pulsate 1s infinite;
  }
}

.button-image {
  width: 1.5em;
  height: 1.5em;
  object-fit: contain;
}
@keyframes pulsate {
  0% {
    transform: scale(1.04, 1.08);
  }
  50% {
    transform: scale(1.08, 1.12);
  }
  100% {
    transform: scale(1.04, 1.08);
  }
}

.no-img {
  border: #acacac dashed 2px;
  margin-right: 10px;
  padding: 12px;
  text-align: justify;
}

.tab-trigger-style {
  flex: 1;
  padding: 0.5rem;
  margin-top: 15px;
  font-family: "Rocher", serif;
}
.tab-trigger-style.active {
  background-color: rgb(50 50 50);
}
.tab-trigger-style:not(.active) {
  background-color: rgb(0 0 0);
}
